@media screen and (max-width: 1280px) {
    header {
        .header-box {
            .logo-box {
                width: 70%;
                .logo-arrows {
                    width: 90%;
                }
                .logo-title {
                    display: none;
                }
            }
        }
    }
    #company-info {
        height: 420px;
        .column1 {
            div {
                width: 70%;
            }
            div:hover {
                width: 80%;
            }
        }
    }
    #company-features {
        height: 280px;
    }
    #consultation form {
        .form-data {
            width: 90%;
        }
        .form-question {
            width: 90%;
        }
    }
}

@media (max-width: 1024px) {
    header {
        width: 100%;
        margin: 0;
        .header-box {
            .logo-box {
                height: 100%;
                width: 100%;
                .logo-arrows {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }
            .header-contacts {
                display: none;
            }
        }
    }
    main {
        width: 100%;
        margin: 0;
    }
    footer {
        width: 100%;
        margin: 0;
    }
}